* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #040d12;
  font-family: sans-serif;
  outline: none;
}
.heading {
  position: relative;
  top: 70px;
  height: 5vh;
  font-size: 1.4em;
  font-weight: 700;
  color: white;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040d12;
  flex-direction: column;
}
.calculator {
  height: 550px;
  max-width: 350px;
  padding: 20px;
  background-color: var(--keypad-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px solid black;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: #183d3d;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4, 68px);
}

input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #ecf0f3;
  box-shadow: inset -5px -5px 12px #ffffff,
    inset 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 30px;
  color: rgb(70, 70, 70);
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}

button {
  height: 48px;
  width: 48px;
  background-color: #ecf0f3;
  box-shadow: -5px -5px 12px #99e0e8, 5px 5px 12px rgb(0, 0, 0, 0.16);
  border: none;
  border-radius: 50%;
  margin: 8px;
  font-size: 16px;
  font-weight: 600;
}
button:hover {
  background-color: rgb(71, 180, 185);
  color: white;
  transition: 1s;
}

.equal {
  width: 115px;
  border-radius: 40px;
  background-color: #e8ab12;
  box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgb(0, 0, 0, 0.16);
}
.operator {
  color: blue;
}
